<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/_head'); %>
  

</head>
<body class="container-fluid p-0 border" 
      data-spy="scroll" 
      data-target=".navbar" 
      data-offset="50">
      <!-- scrollspy code above -->
<!-- header compiled from _head.ejs -->
<%- include('../partials/_stickytopnav'); %>


  <%- include('../partials/_navbar'); %>


<header>
  <%- include('../partials/_header'); %>
</header>



<main>
  <%- include('../partials/_about'); %>

  <%- include('../partials/_skills'); %>

  <%- include('../partials/_demos'); %>


  <%- include('../partials/_contact'); %>








 
  


</main>

<footer>
  <%- include('../partials/_footer'); %>
</footer>
</div>
</div>

</body>
</html>




<!-- views/contact.ejs -->
<!-- <div class="form-header">
    <h2>Send us a message</h2>
  </div>
  <form method="post" action="/contact" novalidate>
    <div class="form-field">
      <label for="message">Message</label>
      <textarea class="input" id="message" name="message" rows="4" autofocus></textarea>
    </div>
    <div class="form-field">
      <label for="email">Email</label>
      <input class="input" id="email" name="email" type="email" value="" />
    </div>
    <div class="form-actions">
      <button class="btn" type="submit">Send</button>
    </div>
  </form> -->